<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sample1</key>
	<array>
		<dict>
			<key>ID</key>
			<string>ITEM000001</string>
			<key>buy</key>
			<integer>2</integer>
			<key>free</key>
			<integer>1</integer>
			<key>dc</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>ITEM000002</string>
			<key>buy</key>
			<integer>2</integer>
			<key>free</key>
			<integer>1</integer>
			<key>dc</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>sample2</key>
	<array/>
	<key>sample3</key>
	<array>
		<dict>
			<key>ID</key>
			<string>ITEM000003</string>
			<key>buy</key>
			<integer>0</integer>
			<key>free</key>
			<integer>0</integer>
			<key>dc</key>
			<real>0.95</real>
		</dict>
	</array>
	<key>sample4</key>
	<array>
		<dict>
			<key>ID</key>
			<string>ITEM000001</string>
			<key>buy</key>
			<integer>2</integer>
			<key>free</key>
			<integer>1</integer>
			<key>dc</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>ITEM000002</string>
			<key>buy</key>
			<integer>2</integer>
			<key>free</key>
			<integer>1</integer>
			<key>dc</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>ID</key>
			<string>ITEM000003</string>
			<key>buy</key>
			<integer>0</integer>
			<key>free</key>
			<integer>0</integer>
			<key>dc</key>
			<real>0.95</real>
		</dict>
	</array>
</dict>
</plist>
